.git
.venv
__pycache__
*.pyc
*.log
text_latest.json
file_latest.json
config/*.json
release/*
log/
.vscode
node_modules/
Docker/context
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
.venv/
.env
.git/
.gitignore
release/
log/
latest/
config/example/
*.zip
*.tar.gz
.DS_Store
